/* Default styles */
.c-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 400px;
  }
  
  .c-container {
    width: 20%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    position: relative;
    font-size: 12px;
    border-radius: 0.5em;
    background-color: #21242b;
    border-bottom: 10px solid #188cf9;
  }
  
  .c-container i {
    color: #188cf9;
    font-size: 2.5em;
    text-align: center;
  }
  
  .c-container .num {
    color: #fff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
  
  .c-container .text {
    color: #e0e0e0;
    font-size: 1.1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
  }
  
  /* Media query for screens smaller than 768px */
  @media (max-width: 767px) {
    .c-wrapper {
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 20px;
    }
    
    .c-container {
      width: 40%;
      margin: 10px;
    }
  }
  